.footer{
    background-color: rgba(255, 179, 209, 0.774);
}

  .footerContainer {

    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .redes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    .link1 {
      color: white;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
    }

    .link2 {
      color: white;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
    }

    .link3 {
      color: white;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
    }
  }
