.login-screen { 
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;


    .login{
        width: 500px;
        pad: 26px;
        border-radius: 10px;
        background-color: white;
    }
}